# Write a programme to perform OLAP Quary

In [8]:
import sqlite3  

  

conn = sqlite3.connect("OLAP.db")  

cursor = conn.cursor()  

  

# Create table with 'quantity' column 

cursor.execute("""  

CREATE TABLE IF NOT EXISTS sale (  

    sale_id INTEGER PRIMARY KEY,  

    product_name TEXT,  

    product_price REAL,  

    quantity INTEGER,  

    year INTEGER  

);  

""") 

  

def insert_user():  

    try:  

        sale_id = int(input("Enter sales id: "))   

        product_name = input("Enter product name: ").strip()   

        product_price = float(input("Enter Product Price: "))   

        quantity = int(input("Enter quantity sold: "))   

        year = int(input("Enter year: "))   

  

        cursor.execute("INSERT INTO sale (sale_id, product_name, product_price, quantity, year) VALUES (?, ?, ?, ?, ?)",  

                       (sale_id, product_name, product_price, quantity, year))  

        conn.commit()  

        print("Record Inserted successfully!")  

  

    except ValueError as e:  

        print("Invalid input:", e)  

  

insert_user()  

print("*Data Warehouse Created")  

  

# Fetch all data 

cursor.execute("SELECT * FROM sale")  

rows = cursor.fetchall()  

  

print("\nAll Data in 'sale' Table:") 

for row in rows:  

    print(row)  

  

# Fetch total price per product 

cursor.execute("SELECT product_name, SUM(product_price * quantity) as Total FROM sale GROUP BY product_name")  

result = cursor.fetchall()  

  

print("\nTotal Sales Per Product:") 

for res in result:  

    print(res)  

  

# Fetch total sales of all products 

cursor.execute("SELECT SUM(product_price * quantity) as Grand_Total FROM sale")  

grand_total = cursor.fetchone()[0]  

  

print(f"\nTotal Sales of All Products: {grand_total if grand_total else 0}")  

  

conn.close()

Enter sales id:  1
Enter product name:  Soap
Enter Product Price:  50
Enter quantity sold:  500
Enter year:  2025

Record Inserted successfully!
*Data Warehouse Created

All Data in 'sale' Table:
(1, 'Soap', 50.0, 500, 2025)

Total Sales Per Product:
('Soap', 25000.0)

Total Sales of All Products: 25000.0

# Find Min, Max & Average

In [9]:
import sqlite3  

  

# Connect to the database 

conn = sqlite3.connect("Aaaa.db")  

cursor = conn.cursor()  

  

# Modify table to auto-increment sale_id 

cursor.execute("""  

CREATE TABLE IF NOT EXISTS sale (  

    sale_id INTEGER PRIMARY KEY AUTOINCREMENT,  

    product_name TEXT,  

    product_price REAL,  

    quantity INTEGER,  

    location TEXT,  

    year INTEGER  

);  

""") 

  

def insert_users():  

    while True: 

        try:  

            product_name = input("Enter product name: ").strip()   

            product_price = float(input("Enter Product Price: "))   

            quantity = int(input("Enter quantity sold: "))   

            location = input("Enter location: ").strip()   

            year = int(input("Enter year: "))   

  

            cursor.execute("INSERT INTO sale (product_name, product_price, quantity, location, year) VALUES (?, ?, ?, ?, ?)",  

                           (product_name, product_price, quantity, location, year))  

            conn.commit()  

            print("Record Inserted successfully!")  

             

            more = input("Do you want to add another product? (yes/no): ").strip().lower() 

            if more != 'yes': 

                break 

  

        except ValueError as e:  

            print("Invalid input:", e)  

  

insert_users()  

print("\n*Data Warehouse Created*\n") 

  

# Fetch all data 

cursor.execute("SELECT * FROM sale")  

rows = cursor.fetchall()  

  

print("All Data in 'sale' Table:") 

for row in rows:  

    print(row)  

  

# Fetch total sales per product across all locations 

cursor.execute("SELECT product_name, location, SUM(product_price * quantity) as Total FROM sale GROUP BY product_name, location")  

result = cursor.fetchall()  

  

print("\nTotal Sales Per Product Per Location:") 

for res in result:  

    print(res)  

  

# Fetch total sales of all products 

cursor.execute("SELECT SUM(product_price * quantity) as Grand_Total FROM sale")  

grand_total = cursor.fetchone()[0]  

print(f"\nTotal Sales of All Products: {grand_total if grand_total else 0}")  

  

# Find min, max, and average sales per product-location 

cursor.execute(""" 

    SELECT product_name, location,  

           MIN(product_price) as Min_Price,  

           MAX(product_price) as Max_Price,  

           AVG(product_price) as Avg_Price  

    FROM sale  

    GROUP BY product_name, location 

""")  

  

stats = cursor.fetchall()  

  

print("\nMin, Max, and Average Price Per Product Per Location:") 

for stat in stats: 

    print(stat)  

  

# Close the connection 

conn.close()

Enter product name:  Soap
Enter Product Price:  50
Enter quantity sold:  500
Enter location:  Barasat
Enter year:  2025

Record Inserted successfully!

Do you want to add another product? (yes/no):  yes
Enter product name:  Soap
Enter Product Price:  80
Enter quantity sold:  500
Enter location:  Serampore
Enter year:  2025

Record Inserted successfully!

Do you want to add another product? (yes/no):  yes
Enter product name:  Oil
Enter Product Price:  100
Enter quantity sold:  25
Enter location:  Barasat
Enter year:  2025

Record Inserted successfully!

Do you want to add another product? (yes/no):  yes
Enter product name:  Oil
Enter Product Price:  90
Enter quantity sold:  60
Enter location:  Serampore
Enter year:  2025

Record Inserted successfully!

Do you want to add another product? (yes/no):  no

*Data Warehouse Created*

All Data in 'sale' Table:
(1, 'Soap', 50.0, 500, 'Barasat', 2025)
(2, 'Soap', 80.0, 500, 'Serampore', 2025)
(3, 'Oil', 100.0, 25, 'Barasat', 2025)
(4, 'Oil', 90.0, 60, 'Serampore', 2025)

Total Sales Per Product Per Location:
('Oil', 'Barasat', 2500.0)
('Oil', 'Serampore', 5400.0)
('Soap', 'Barasat', 25000.0)
('Soap', 'Serampore', 40000.0)

Total Sales of All Products: 72900.0

Min, Max, and Average Price Per Product Per Location:
('Oil', 'Barasat', 100.0, 100.0, 100.0)
('Oil', 'Serampore', 90.0, 90.0, 90.0)
('Soap', 'Barasat', 50.0, 50.0, 50.0)
('Soap', 'Serampore', 80.0, 80.0, 80.0)