# Data discretization(Equal-width)

In [2]:
import pandas as pd
df = pd.DataFrame({'Age': [27,34,39,43,51,69,72,83,99]})
df['Age_Group'] = pd.cut(df['Age'], bins=[0, 30, 60, 100], labels=["Young", "Middle-aged", "Old"])#fixed interval
df['Age_Group1'] = pd.qcut(df['Age'], q=3, labels=["Young", "Middle-aged", "Old"])
print(df)

   Age    Age_Group   Age_Group1
0   27        Young        Young
1   34  Middle-aged        Young
2   39  Middle-aged        Young
3   43  Middle-aged  Middle-aged
4   51  Middle-aged  Middle-aged
5   69          Old  Middle-aged
6   72          Old          Old
7   83          Old          Old
8   99          Old          Old

In [3]:
def age_category(age):
    if age <= 30:
        return "Young"
    elif age <= 60:
        return "Middle-aged"
    else:
        return "Old"

df['Age_Group'] = df['Age'].apply(age_category)
print(df)

   Age    Age_Group   Age_Group1
0   27        Young        Young
1   34  Middle-aged        Young
2   39  Middle-aged        Young
3   43  Middle-aged  Middle-aged
4   51  Middle-aged  Middle-aged
5   69          Old  Middle-aged
6   72          Old          Old
7   83          Old          Old
8   99          Old          Old

# Data Reduction

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'ID': range(1, 101), 'Value': np.random.randint(1, 100, 100)})
df_sample = df.sample(frac=0.4, random_state=42)
df_sample['Equal_Width_Bin'] = pd.cut(df_sample['Value'], bins=3, labels=["Low", "Medium", "High"])
df_sample['Equal_Freq_Bin'] = pd.qcut(df_sample['Value'], q=3, labels=["Low", "Medium", "High"])
print(df_sample.head())

    ID  Value Equal_Width_Bin Equal_Freq_Bin
83  84     15             Low            Low
53  54     29             Low         Medium
70  71     99            High           High
45  46     22             Low            Low
44  45     79            High           High

# Convert text categories into numbers

In [6]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
df = pd.DataFrame({'Category': ['Small', 'Medium', 'Large', 'Extra', 'Mining']})
encoder = LabelEncoder()
df['Category_Encoded'] = encoder.fit_transform(df['Category'])
print(df)

  Category  Category_Encoded
0    Small                 4
1   Medium                 2
2    Large                 1
3    Extra                 0
4   Mining                 3

# Data reduction using aggregation

In [7]:
import pandas as pd
data = {
    'City': ['New York', 'New York', 'Los Angeles', 'Los Angeles', 'Chicago', 'Chicago'],
    'Temperature': [30, 32, 28, 27, 25, 24]
}
df = pd.DataFrame(data)
df_aggregated = df.groupby('City').mean()

print(df_aggregated)

             Temperature
City
Chicago             24.5
Los Angeles         27.5
New York            31.0

In [8]:
import pandas as pd
data = {
    'Product': ['A', 'A', 'B', 'B', 'C', 'C', 'C'],
    'Sales': [100, 150, 200, 250, 300, 350, 400]
}
df = pd.DataFrame(data)
df_aggregated = df.groupby('Product').sum()
print(df_aggregated)

         Sales
Product
A          250
B          450
C         1050

In [1]:
import pandas as pd
import numpy as np
date_rng = pd.date_range(start='2024-01-01', periods=100, freq='D')
df = pd.DataFrame({'Date': date_rng, 'Sales': np.random.randint(10, 100, size=(100,))})
df = pd.DataFrame({'Date': date_rng, 'Sales': np.random.randint(10, 100, size=(100,))})
print(df.head(8))

        Date  Sales
0 2024-01-01     52
1 2024-01-02     11
2 2024-01-03     19
3 2024-01-04     35
4 2024-01-05     93
5 2024-01-06     50
6 2024-01-07     57
7 2024-01-08     15