### Importing Libraries

In [49]:
import pandas as pd

In [50]:
import numpy as np

In [51]:
myIndex = ['USA', 'CANADA', 'MEXCICO']

In [52]:
mydata = [656515,51654684,554351]

- `pd.series`: Make serises

In [53]:
myseries = pd.Series(mydata)

In [54]:
myseries

0      656515
1    51654684
2      554351
dtype: int64

In [55]:
myseries = pd.Series(data= mydata, index = myIndex)

In [56]:
myseries

USA          656515
CANADA     51654684
MEXCICO      554351
dtype: int64

### From dictnary

In [57]:
age = {'Samay': 5, 'Tapabrata': 22, 'Krishna': 50}

In [58]:
d = pd.Series(age)

In [59]:
d

Samay         5
Tapabrata    22
Krishna      50
dtype: int64

### Operations

In [60]:
d = pd.Series(age)

In [61]:
d['Tapabrata']

np.int64(22)

`.keys()`: Returns all the keys

In [62]:
age.keys()

dict_keys(['Samay', 'Tapabrata', 'Krishna'])

`.values()`: Returns all the values

In [63]:
age.values()

dict_values([5, 22, 50])

In [64]:
d[1]

/tmp/ipykernel_2562/708413107.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  d[1]

np.int64(22)

In [65]:
d

Samay         5
Tapabrata    22
Krishna      50
dtype: int64

In [66]:
d * 5 # Multiplication operation

Samay         25
Tapabrata    110
Krishna      250
dtype: int64

## DataFrame

In [67]:
import pandas as pd 
import numpy as np

myData = np.random.randint(0,101,(10,12))

In [68]:
myData

array([[  3,  77,  76,  64,  81,   1,  42,  33,  93,  62,  97,  98],
       [ 20,  84,  86,  75,  57,  77,  30,  82,   2,   5,  48,  79],
       [ 62,  22,  69,  93,  97,  27,  70,  91,  49,  68,  13,  63],
       [  5,  48,  17,  68,   9,  99,  68,  16,  79,  11,  71,  74],
       [ 73,  43,  61,  62,   9,  46,  75,   7,   3, 100,  57,  26],
       [ 65,  38,  49,  82,  55,  52,  26,   7,  20,  62,  58,  30],
       [ 88,  60,  53,  91,  69,  22,  19,  11,  46,  61,  82,  87],
       [ 57,  49, 100,  29,  77,  63,  55,  55,   5,  17,  45,  93],
       [ 72,  97,  10,  96,  89,  36,  90, 100,  95,   6,  68,  11],
       [ 60,  58,  51,  84,  78,  43,  63,  61,  70,  98,  54,  84]])

In [69]:
myIndexes = ['Person1','Person2','Person3','Person4','Person5','Person6','Person7','Person8','Person9','Person10']

In [70]:
myColumns = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

In [71]:
df = pd.DataFrame(myData)

In [72]:
df

   0   1    2   3   4   5   6    7   8    9   10  11
0   3  77   76  64  81   1  42   33  93   62  97  98
1  20  84   86  75  57  77  30   82   2    5  48  79
2  62  22   69  93  97  27  70   91  49   68  13  63
3   5  48   17  68   9  99  68   16  79   11  71  74
4  73  43   61  62   9  46  75    7   3  100  57  26
5  65  38   49  82  55  52  26    7  20   62  58  30
6  88  60   53  91  69  22  19   11  46   61  82  87
7  57  49  100  29  77  63  55   55   5   17  45  93
8  72  97   10  96  89  36  90  100  95    6  68  11
9  60  58   51  84  78  43  63   61  70   98  54  84

In [73]:
df = pd.DataFrame(data = myData, index = myIndexes,columns = myColumns)

In [74]:
df

          Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
Person1     3   77   76   64   81    1   42   33   93   62   97   98
Person2    20   84   86   75   57   77   30   82    2    5   48   79
Person3    62   22   69   93   97   27   70   91   49   68   13   63
Person4     5   48   17   68    9   99   68   16   79   11   71   74
Person5    73   43   61   62    9   46   75    7    3  100   57   26
Person6    65   38   49   82   55   52   26    7   20   62   58   30
Person7    88   60   53   91   69   22   19   11   46   61   82   87
Person8    57   49  100   29   77   63   55   55    5   17   45   93
Person9    72   97   10   96   89   36   90  100   95    6   68   11
Person10   60   58   51   84   78   43   63   61   70   98   54   84

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, Person1 to Person10
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     10 non-null     int64
 1   Feb     10 non-null     int64
 2   Mar     10 non-null     int64
 3   Apr     10 non-null     int64
 4   May     10 non-null     int64
 5   Jun     10 non-null     int64
 6   Jul     10 non-null     int64
 7   Aug     10 non-null     int64
 8   Sep     10 non-null     int64
 9   Oct     10 non-null     int64
 10  Nov     10 non-null     int64
 11  Dec     10 non-null     int64
dtypes: int64(12)
memory usage: 1.0+ KB